---
title: "Услуги"
author: "Oleg Smith"
tags: ["abc","def"]
categories: ["promo"]
date: 2014-01-01
basepath: "./"
---
<div class="container-full" style="display: none;">

	<div class="ani-bg" data-0="left:0%;" data-100-center-bottom="left:0%;" data--40-center-bottom="left:-100%;"
	     data-anchor-target="#text01" style="margin-top:0px;position: fixed;overflow: hidden;">
		<img id="bg01" class="ani-pic" src="assets/img/promophone/images/phone_01.png" style="display: inline-block;"/>
	</div>

	<div class="ani-bg" data-0="left:100%;" data-140-center-top="left:100%;" data-center-top="left:0%;"
	     data-100-center-bottom="left:0%;" data--40-center-bottom="left:100%;" data-anchor-target="#text02"
	     style="margin-top:0px;position: fixed;overflow: hidden;">
		<img id="bg02" class="ani-pic" src="assets/img/promophone/images/phone_02.png" style="display: inline-block;"/>
	</div>


	<div class="ani-bg" data-0="left:-100%;" data-140-center-top="left:-100%;" data-center-top="left:0%;"
	     data-100-center-bottom="left:0%;" data--40-center-bottom="left:-100%;" data-anchor-target="#text03"
	     style="margin-top:0px;position: fixed;overflow: hidden;">
		<img id="bg03" class="ani-pic" src="assets/img/promophone/images/phone_03.png" style="display: inline-block;"/>
	</div>

	<div class="ani-bg" data-0="left:100%;" data-140-center-top="left:100%;" data-center-top="left:0%;"
	     data-100-center-bottom="left:0%;" data--40-center-bottom="left:0%;" data-anchor-target="#text04"
	     style="margin-top:0px;position: fixed;overflow: hidden;">
		<img id="bg04" class="ani-pic" src="assets/img/promophone/images/phone_04.png" style="display: inline-block;"/>
	</div>

</div>

<div id="skrollr-body" style="overflow:hidden;">


	<div class="container" style="padding-top: 60px;">

		<!-- START THE FEATURETTES -->

		<div class="row featurette">

			<!--<div id="bx1" class="col-xs-6" style="height: 400px;">-->

			<!--</div>-->

			<div id="text01" class="col-md-6 col-md-offset-6 promobox" style="">
				<span class="glyphicon appglyphicon appglyphicon-phone"
				      style="float:left;font-size:150px;"></span>

				<h2 class="featurette-heading">Нужна современная офисная телефония? <span class="text-muted">Настроим быстро и недорого.</span>
				</h2>

				<p class="lead">Нужна интегрированная телефония между территориально разделенными офисами? Хотите
					организовать call-центр?</p>

				<p class="lead">Мы быстро и недорого настроим Вам IP-АТС на базе Cisco CallManager или
					Asterisk. Объясним как это работает. Посоветуем с приобретением необходимого оборудования. Поставим оборудование по цене ниже минимальных цен Яндекс-маркета. Окажем
					услуги по техническому сопровождению офисной АТС.</p>
			</div>

			<div id="text02" class="col-md-6 promobox" style="">
				<span class="glyphicon appglyphicon appglyphicon-asterisk"
				      style="color:#EE9223;float:left;font-size:150px;"></span>

				<h2 class="featurette-heading">Телефония на базе <a href="http://www.asterisk.org/" target="_blank">Asterisk</a>.
					<span class="text-muted">Фиксированная цена - <b>50 000 рублей</b> за настройку одной IP-АТС.</span></h2>

				<p class="lead">Широкий функционал Asterisk позволяет использовать ее в компаниях различного размера.
					При этом даже в небольшом офисе возможна организация телефонной станции с голосовым меню, голосовой
					почтой, детализацией звонков, постановкой звонков в очередь, записью звонков, а также целым рядом
					других полезных функций. Для правильной работы системы Asterisk не нужно прокладывать дополнительные
					телефонные кабели и устанавливать дополнительные шлюзы при подключении к провайдерам IP-телефонии.
					Достаточно будет лишь сервера.

					Функционал телефонной станции на базе Asterisk IP PBX включает, но не ограничивается:
				<ul>
					<li>условной и безусловной переадресации вызовов;</li>
					<li>отправкой и приемом факсов в электронном виде;</li>
					<li>хранение записей всех телефонных разговоров;</li>
					<li>удаленное подключение пользователя из любого места с доступом в Интернет;</li>
					<li>чёрных списков номеров;</li>
					<li>индивидуальные настройки управления звонками путем программирования сложных алгоритмов;</li>
					<li>все наиболее востребованные протоколы коммуникаций VoIP: IAX2, google talk, SIP, jabber,
						h.323;
					</li>
					<li>автодозвон, создание голосовых меню, конференц-комнат, 3-Way конференций итд.</li>
				</ul>
				</p>
				<p class="lead">Использование IP телефонии на базе Asterisk позволяет:
				<ul>
					<li>Объединять региональные офисы в единое телефонное пространство, экономя на стоимости переговоров
						и создавая единую точку контакта для всех клиентов компании.
					</li>
					<li>Использовать гибкие схемы обработки телефонных вызовов, повышая качество обслуживания
						клиентов.
					</li>
					<li>Расширять географию бизнеса, гибко подключая номера телефонов в регионах присутствия.</li>
					<li>Контролировать информационные потоки внутри компании.</li>
				</ul>
				</p>
			</div>

			<div id="text03" class="col-md-6 col-md-offset-6 promobox">
				<span class="glyphicon appglyphicon appglyphicon-cisco"
				      style="color:#15495D;float:left;font-size:150px;"></span>

				<h2 class="featurette-heading">Телефония на базе <a
						href="http://www.cisco.com/web/RU/products/sw/custcosw/callmanager/index.html" target="_blank">Cisco
					CallManager</a>. <span class="text-muted">Фиксированная цена - <b>50 000 рублей</b> за настройку одной IP-АТС.</span>
				</h2>

				<p class="lead">Известный производитель сетевого оборудования Cisco Systems представляет архитектуру
					AVVID, в основу которой положены решения для IP-телефонии. AVVID (Architecture for Voice, Video and
					Integrated Data) включает в себя четыре основных компонента:
				<ul>
					<li>
						сетевую инфраструктуру на базе IP, которая состоит из маршрутизаторов, коммутаторов, шлюзов и
						другого сетевого оборудования. Ее задача заключается в создании сетевого базиса и обеспечении
						ключевых функций среды - гарантированного качества сервиса QoS и безопасности;

					</li>
					<li>
						клиентские рабочие места. Это могут быть как обычные компьютеры со специализированным ПО, так и
						программные эмуляторы телефонов (Cisco IP SoftPhone), IP- или видеотелефоны;
					</li>
					<li>
						серверные приложения и устройства. Ключевым здесь является Call Manager, контролирующий и
						управляющий всей совокупностью IP-элементов среды. Важную роль играют также системы хранения
						данных - серверы баз данных и LDAP-директории;
					</li>
					<li>
						пользовательские, клиентские приложения. К ним и относятся центры обработки вызовов.
					</li>
				</ul>
				</p>

				<p class="lead">

					Одна из основных составляющих этой архитектуры - Cisco CallManager. Этот программно-аппаратный
					комплекс выполняет ряд ключевых действий: настройка IP-телефонов, шлюзов, сбор и анализ
					статистической информации; предоставление дополнительных пользовательских функций (видеоконференции,
					доступ к абонентской базе данных и т.д.); интеграция с клиентскими приложениями -голосовой почтой,
					системой голосовых меню, автоматическим оператором; поддержка интерфейсов разработки приложений
					TAPI, JTAPI, XML.
				</p>
			</div>

			<div id="text04" class="col-md-6 promobox">

				<h2 class="featurette-heading">Абонентские устройства. <span class="text-muted">Свобода выбора.</span>
				</h2>

				<p class="lead">Используйте <a
						href="http://market.yandex.ru/guru.xml?CMD=-RR=0,0,0,0-PF=2142622487~TR~sel~select-VIS=78-CAT_ID=2449302-EXC=1-PG=10&hid=979262&filter=&num=&greed_mode=false"
						target="_blank">любое оборудование</a> на Ваш вкус, требования и возможности. Мы рекомендуем в
					качестве стационарных устройств для руководителей модели <a
							href="http://market.yandex.ru/model.xml?modelid=4755807&hid=979262" target="_blank">Cisco
						SPA525G</a> и <a href="http://market.yandex.ru/search.xml?hid=979262&text=Cisco%20SPA500DS"
					                     target="_blank">Cisco SPA500DS</a>, для секретарей и начальников отделов <a
							href="http://market.yandex.ru/model.xml?modelid=6184238&hid=979262" target="_blank">Cisco
						SPA504G</a> и <a href="SPA500S" target="_blank">Cisco SPA500S</a>, для сотрудников <a
							href="http://market.yandex.ru/model.xml?modelid=6988498&hid=979262" target="_blank">Cisco
						SPA303-G2</a>. В качестве переносных трубок для обеспечения бесшовного DECT <a
							href="http://market.yandex.ru/guru.xml?CMD=-RR=0,0,0,0-PF=1801946~EQ~sel~8472001-PF=2142622487~TR~sel~select-PF=2142622481~TR~sel~select-VIS=70-CAT_ID=2449302-EXC=1-PG=10&hid=979262"
							target="_blank">RTX8XXX</a>, для обычного DECT <a
							href="http://market.yandex.ru/model.xml?modelid=10684889&hid=979262" target="_blank">Cisco
						SPA302D</a> и <a href="http://market.yandex.ru/model.xml?modelid=7797528&hid=979262"
					                     target="_blank">Siemens Gigaset A510 IP</a>. При организации рабочего места оператора call-центра достаточно компьютера с любым <a
							href="http://www.3cx.ru/voip-phone/"
							target="_blank">софтофоном</a> и <a
							href="http://market.yandex.ru/guru.xml?CMD=-RR=0,0,0,0-PF=2141101593~EQ~sel~x1870304789-VIS=70-CAT_ID=6339840-EXC=1-PG=10&hid=6368403"
							target="_blank">гарнитурой</a>  Для переадресации звонков на
					gsm-телефоны необходима установка GSM-шлюзов, например <a
							href="http://market.yandex.ru/search.xml?text=AddPac+1004&cvredirect=2"
							target="_blank">AddPac AP-GS1004B</a>.
				</p>
			</div>

			<div id="text05" class="col-md-6 col-md-offset-6 promobox">

				<h2 class="featurette-heading">Звоните и пишите нам! <span class="text-muted">Мы к Вашим услугам.</span>
				</h2>

				<p class="lead">Можно ознакомиться с нашим типовым <a href="tz.html">техническим заданием</a> на оказание услуг. При заказе
					услуг у нас, мы предложим Вам приобретение оборудования по ценам ниже минимальных на Яндекс-маркете.</p>
			</div>

		</div>
	</div>

</div>