---
title: "Пример технического задания"
author: "Oleg Smith"
tags: ["abc","def"]
categories: ["single"]
date: 2014-01-01
basepath: "./"
---
<div class="container" style="padding-top: 60px;">
<div class="row">
<div class="col-md-12">

<style>
table, th, td
{
	border: 1px solid black;
}
</style>

{{#markdown}}

# ТЕХНИЧЕСКОЕ ЗАДАНИЕ
# на проведение работ по внедрению IP-АТС


## Оглавление
------------------

<ul>
	<li>
		Введение
	</li>
	<li>
		1. Общие сведения
		<ul>
			<li>
				1.1. Цели и назначение работ
			</li>
			<li>
				1.2. Определения, термины и сокращения
			</li>
		</ul>
	</li>
	<li>
		2. Требования
	</li>
	<ul>
		<li>
			2.1. Функциональные требования
		</li>
		<ul>
			<li>
				2.1.1. Общие требования к Системе
			</li>
			<li>
				2.1.2. Требования к Web-интерфейсу администратора
			</li>
			<li>
				2.1.3. Требования к маршрутизации вызовов
			</li>
			<li>
				2.1.4. Требования к IVR
			</li>
			<li>
				2.1.5. Требования к отчетности IP-АТС
			</li>
			<li>
				2.1.6. Требования к дополнительным модулям IP-АТС
			</li>
		</ul>
		<li>
			2.2. Требования к аппаратной и программной конфигурации IP-АТС
		</li>
		<ul>
			<li>
				2.2.1. Требования к оборудованию и ПО
			</li>
			<li>
				2.2.2. Требования к СПД
			</li>
			<li>
				2.2.3. Требования к безопасности
			</li>
			<li>
				2.2.4. Требования к подаче номерной емкости
			</li>
			<li>
				2.2.5. Требования к плану нумерации и правилам маршрутизации
			</li>
			<li>
				2.2.6. IVR. Требования к алгоритмам распределения вызовов
			</li>
		</ul>
		<li>
			2.3. Требования к гарантийному и постгарантийному обслуживанию
		</li>
	</ul>
	<li>
		3. Порядок выполнения работ
	</li>
	<li>
		4. Приложения
		<ul>
			<li>
				Приложение 1 - Требования к оборудованию
			</li>
			<li>
				Приложение 2 - Требования к подаче номерной емкости
			</li>
			<li>
				Приложение 3 - План нумерации и маршрутизации
			</li>
			<li>
				Приложение 4 - Распределение вызовов на IVR
			</li>
			<li>
				Приложение 5 - План работ
			</li>
			<li>
				Приложение 6 - Спецификация к оборудованию
			</li>
		</ul>
	</li>
</ul>

## Введение
------------------

Данный документ является основным, определяющим требования Заказчика к IP-АТС. В документе перечислены общие
требования к IP-АТС, все функциональные возможности и ограничения.
В соответствии с требованиями технического задания производится:
* Приобретение оборудования для IP-АТС согласно Спецификации к данному техническому заданию
* Установка программного продукта Asterisk на базе ОС FreeBSD
* Установка оборудования на рабочие места и пуско-наладка IP-АТС

## 1. Общие сведения
------------------

### 1.1. Цели и назначение работ

Основной целью работ является объединение в единое номерное пространство удаленных
офисов компании и создание централизованного call-центра отдела продаж. Достижение этих целей в течении года позволит сократить затраты Заказчика на телефонию и улучшит качество и скорость обслуживания клиентов.

### 1.2 Определения, термины и сокращения

*ТЗ* - Техническое задание.

*УАТС* - Учрежденческая АТС.

*IP-АТС* - Учрежденческая автоматическая телефонная станция, работающая на основе межсетевого протокола IP.

*IP-телефон* - программное или аппаратное абонентское устройство.

*ТфОП* -  Телефонная сеть общего пользования.

*СПД* - Сеть передачи данных.

*КСПД* - Корпоративная сеть передачи данных.

*ЛВС* - Локальная вычислительная сеть.

*Абонент* - Абонент телефонной сети общего пользования.

*Абонент УАТС* - Абонент Учрежденческой АТС.

*Провайдер* - Организация, предоставляющая услуги связи.

*Оператор* - Менеджер отдела продаж.

*Супервизор* - Координатор работы менеджеров отдела продаж, заместитель генерального директора по продажам и сервису.

*Администратор* - Специалист, занимающийся техническим обеспечением работы IP-АТС.

*Очередь* - Общая очередь всех входящих вызовов.

*Политики* - Набор правил, в соответствии с которыми вызовы из очередей распределяются на операторов.

*SIP* - Протокол передачи данных, который описывает способ установления и завершения пользовательского интернет-сеанса.

*GUI* - Графический интерфейс пользователя (Graphical User Interface).

*IVR* – Интерактивная система голосового оповещения (Interactive Voice Response).

*Asterisk* - Программнная IP-АТС.

*SoftPhone* - Программный IP-телефон, является клиентской программой IP-АТС и предназначен для совершения и приема вызовов пользователями IP-АТС.

*FXS* - Порт, который дает возможность подключения абонента к аналоговой телефонной линии.

*WebAdmin* - Панель администрирования Asterisk.

*Fax-mail* - Факсимильное сообщение, приходящее на электронную почту или в папку общего доступа.


## 2. Требования
------------------

### 2.1. Функциональные требования

#### 2.1.1. Общие требования к Системе

• Коммутирование абонентов и обеспечение вызовов осуществляется при помощи программно-аппаратного комплекса
телефонии "Asterisk". Аппаратная серверная часть PC-совместимый аппаратный комплекс. Среда выполнения программного
комплекса IP-АТС «Asterisk»: программный комплекс обеспечивающий коммутацию внутренних абонентов с ТФОП на безе ОС
FreeBSD
• Использование голосовых шлюзов FXS для подключения аналоговых факсов. Прием и передача факсов на факсимильные
аппараты в соответствии с номерным планом.
• Использование Fax-mail.
• Физическая среда передачи информации конвергентна с существующей ЛВС и КСПД.
• Коммутацию (входящие/исходящие) соединений с телефонной сетью общего пользования (далее ТФоП) обеспечивает SIP (30
линий).
• Конечное оборудование абонентов: факсы через адаптеры FXS, программные телефоны SoftPhone, IP телефоны.
• Обеспечение бесперебойной работы по выполнению следующего алгоритма работы: маршрутизация входящих вызовов между
абонентами системы и абонентами сетей ТфОП; организация входящих вызовов; автоматическое определение номера; запись
телефонных разговора; переадресация вызова с отключением абонента и с участием абонента; конференция между
абонентами.
• Поддержка 3-х значного или 4-х значного плана нумерации внутри АТС.
• Поддержка набора кодов доступа в телефонную сеть общего пользования (ТФОП).
• Поддержка отображения 2 типов нумерации в зависимости от звонка внутри ведомственной телефонной сети или городской
сети ТФОП.
• Поддержка передачи вызова.
• Поддержка переадресации звонка:
- переадресация по требованию;
- переадресация, если занято или нет ответа;
- автоматическое перенаправление звонков.
• Поддержка подбора (перехвата) вызова в заранее назначенной группе.
• Поддержка одного добавочного номера на несколько линий
- музыка или записанное сообщение в режиме Hold;
- музыка или записанное сообщение при переключении вызова;
- возможность использования файлов формата mp3.

• Индивидуальная и принудительная маршрутизация
• Поддержка отображения внутреннего номера вызывающего абонента.
• Поддержка запрета набора определённых внутренних номеров, назначаемых программно.
• Поддержка запрета набора определённых внешних номеров, назначаемых программно.
• Поддержка возможности обработки не менее 30 вызовов одновременно.
• Обеспечение коммутации абонентов объекта Заказчика с абонентами телефонных сетей по следующим каналам:
использование соединений абонентов через существующую ЛВС и КСПД; использование услуг связи Провайдера по протоколу SIP;
использование операторов сотовой связи; использование услуг междугородних и
международных вызовов.
• Организация автоматического распределения телефонных вызовов по абонентам в соответствии с заданными правилами
обслуживания вызовов.
• Оптимизация распределения телефонной нагрузки между операторами IP-АТС и повышение оперативности при работе с
абонентами.
• Использование IVR с возможностью перенаправления вызовов по алгоритмам, реализованным в соответствии с
бизнес-процессами компании Заказчика.
• Организация входящих и исходящих телефонных вызовов от/к абонентам ТфОП в ручном режиме
• Управление учетными записями пользователей IP-АТС в реальном времени
• Получение статистических отчетов для анализа работы IP-АТС.

#### 2.1.2. Требования к Web-интерфейсу администратора

Web-интерфейс администратора должен поддерживать следующие функции:
• Управление учетными записями пользователей IP-АТС;
• Управление планом нумерации IP-АТС;
• Управление правилами маршрутизации входящих и исходящих вызовов;
• Управление модулем записи (при его наличии в Системе);
• Контроль за изменениями параметров IP-АТС других пользователей;
• Формирование дополнительных отчетов с использованием встроенных средств.

#### 2.1.3. Требования к маршрутизации вызовов

Общие требования
Система должна обеспечивать маршрутизацию исходящего вызова посредством таблицы маршрутизации для установления
соединения с другими пользователями IP-АТС, а также с абонентами ТфОП или абонентами других сетей (при наличии
голосовых шлюзов, соединяющих данные сети).
Система должна обеспечивать маршрутизацию входящего вызова до конкретного оператора или группы операторов
посредством таблицы маршрутизации, а также с использованием средств IVR.

Требования к таблице маршрутизации
Для целей определения маршрута входящего или исходящего вызова Система использует вызываемый номер. Система должна
поддерживать правила двух типов: по плану нумерации, по номеру вызываемого абонента и по номеру получателя. Просмотр
правил осуществляется следующим образом:
• Согласно заданным правилам происходит сравнение вызываемого номера с маской правил маршрутизации.
• Если сравниваемое правило имеет тип «по плану нумерации» и вызываемый номер совпадает с маской данного правила, то
вызов перенаправляется на IVR (голосовое меню, очередь, и т. д.), отдельного пользователя.
• Если сравниваемое правило имеет тип «по плану нумерации» и вызываемый номер не совпадает с маской данного правила,
то Система продолжает просмотр и сравнение ниже следующих по списку правил маршрутизации.
• Если в правиле закончен перебор действий и при этом вызов не был ни отклонен, ни
• перенаправлен, происходит выход из текущего правила и переход на следующее по списку правило маршрутизации.
• Если Система прошла весь список правил, и вызываемый номер не совпал ни с одной маской правил маршрутизации,
происходит отбой вызова.

#### 2.1.4. Требования к IVR

Автоматизированная подсистема интерактивных меню (IVR, Interactive Voice Response) предназначена для автоматизации
обработки входящих вызовов. Система IVR воспроизводит заранее записанное голосовое приветствие и получает ответ от
абонента, введенный DTMF тонами. Как правило абоненту предоставляются следующие возможности:
• соединение с абонентом по внутреннему номеру;
• переключение на корпоративный факс для отправки факсимильного сообщения;
• соединение с оператором.

#### 2.1.5. Требования к отчетности IP-АТС

Система должна хранить статистическую информацию о событиях, которые в ней происходят.
Статистика должна храниться в реляционной базе данных. Должен быть предоставлен доступ к базе данных статистики для
анализа данных внешними информационными системами, в том числе
Для работы со статистикой Система должна предоставлять следующие возможности:
1) Получение отчетов, отображающих следующую информацию:
• протокол изменений состояний операторов системы
• информацию о завершенных соединениях, в том числе
o дата и время начала соединения
o номер А (номер звонящего абонента)
o номер В (набранный абонентом номер)
o имя оператора, завершившего соединение
o длительность соединения
o время ожидания абонента на линии
o принятые вызовы (в количественном соотношении)
o непринятые вызовы (в количественном соотношении)
o исходящие вызовы (в разбивке по абонентам)
o статистика по звонкам в нерабочее время (с 18.00-8.30)
o вызовы с ожиданием в очереди.
o среднее время разговора.
o история работы абонента, включающая данные по количеству
обработанных звонков (входящих и исходящих), среднему времени разговора, количеству
отработанных часов, общему времени разговора за период).
o пиковые нагрузки по SIP линиям
o среднее время поствызывной обработки
o максимальная задержка с ответом (сколько времени абонент провел в очереди до начала
ответа)
o абсолютные величины (количество поступивших звонков, количество обслуженных,
количество отработанных операторами часов и т.п.)
o уровень загруженности каждого оператора (% рабочего времени);
o service level (уровень обслуживания - % звонков, на который оператор начал ответ в
течение определенного количества секунд (стандарт 80/20 – 80% вызовов получают ответ в
течение 20 секунд)
o процент обслуженных вызовов (независимо от времени ожидания абонента) / % потерянных вызовов/ % потеряных вызовов
с уникальными телефонными номерами (т.е. без учета «перезвонов» абонентов)

o % вызовов, получивших полный ответ с первого звонка
• информацию о всех перенаправленных вызовах, таких как:
o перенаправление с IVR на пользователя (оператора, супервизора)
o перенаправление с оператора на супервизора
o перенаправление с оператора, супервизора на IVR
o перенаправление с оператора, супервизора на внешний телефонный номер.
2) Экспорт отчета с CSV-файл.

#### 2.1.6. Требования к дополнительным модулям IP-АТС

Требования к модулю звукозаписи

• Модуль звукозаписи должен осуществлять запись всех телефонных соединений принятых менеджерами отдела продаж в
автоматическом режиме.
• Записанные разговоры должны сохраняться в файловом архиве в формате *.wav.
• Модуль должен позволять проводить поиск и прослушивание записей, сохраненных в базе данных.
• Поиск записей должен осуществляться в WebAdmin.
• Для прослушивания записей должен использоваться любой медиа-плейер с поддержкой формата
wav.

Требования к модулю голосовой почты

Пакет опций для работы с голосовой почтой:
• проверка своего почтового ящика, с любого места, зная пароль;
• сообщения по умолчанию или собственные сообщения;
• отдельные сообщения "Абонент вышел" и "Абонент недоступен"
• несколько папок для голосовых сообщений, где сообщения можно хранить и сортировать
• WEB интерфейс для проверки голосового ящика
• получение уведомления о новой почте по E-Mail с возможным вложением сообщения в формате wav
• перенаправление голосовой почты Куда и какое перенаправление?
• визуальный индикатор ожидающего сообщения

Требования к идентификации вызова (CallerID)

При поступлении телефонного вызова определяется номер вызывающего абонента. Эта информация высвечивается на
жидкокристаллическом дисплее телефона внутреннего абонента принимающего звонок. При передаче вызова передается
определенный ранее номер вызывающего абонента.

Требования к модулю проведение конференций (не менее 14 одновременных подключений)
Возможность организации конференцсвязи. Приглашение участников конференции как во время разговора так и по
приглашениям на заранее намеченные мероприятия. Неограниченное количество участников конференции. Неограниченное
количество одновременных конференций. Участниками конференции могут быть как внутренние абоненты системы (независимо
от территориального расположения участников) так и внешние (абоненты городских телефонных сетей, абоненты операторов
мобильной связи).

Требования к GSM - шлюзу.

• GSM-шлюз, обеспечивает одновременную работу с 4 различными SIM картами.
• GSM-шлюз работает с сервером IP-ATC Asterisk PBX по протоколу SIP.
• Маршрутизация вызовов осуществляется сервером по признаку провайдера через соответствующую
SIM карту.
• GSM-шлюз обеспечивает маршрутизацию для всех абонентов телефонной сети Заказчика.
• Необходимые SIM карты Заказчик передает Исполнителю до начала проведения работ.

### 2.2. Требования к аппаратной и программной конфигурации IP-АТС

#### 2.2.1. Требования к оборудованию и ПО
Требования к оборудованию и ПО представлены в Приложении 1.

#### 2.2.2. Требования к СПД

• Пропускная способность канала между оборудованием оператора связи и сервером и конечными точками пользователей
должна быть достаточной для прохождения необходимого количества одновременных потоков закодированных заданным
кодеком. Для одного канала при использовании G.711 кодека необходимая пропускная способность должна быть не менее
64Кбит/c в одну сторону, необходимая пропускная способность при использовании G.729 кодека должна быть не менее 6,3
Кбит/c в одну сторону.
• Время доставки пакетов между персональными компьютерами операторов и оборудованием
IP-АТС не должно превышать 20ms
• Потери IP пакетов в канале между оборудованием оператора связи и оборудованием IP-АТС, а также между сервером и
конечными точками пользователей не должны превышать 0,1%.
• Между конечными точками пользователей и сервером а также между сервером и оборудованием оператора связи не должно
быть сетевых экранов (Firewall), преобразования адресов (NAT), или других программных или аппаратных устройств
вносящих искажения или блокирующие IP-пакеты, пересылаемые компонентами IP-АТС.

#### 2.2.3. Требования к безопасности

Заказчик является основным ответственным за соблюдение требований к безопасности, за ограничение доступа к
оборудованию ip-телефонии.
Заказчик должен использовать программные и/или аппаратные средства для защиты сети от несанкционированного доступа.
Ниже представлены требования к безопасности, которые должны быть соблюдены исполнителем при внедрении и которые в
дальнейшем должны поддерживаться заказчиком:
1. Оборудование IP-АТС не должно быть доступно со стороны общественных сетей (Интернет) и других сетей, которые
могут представлять собой угрозу безопасности.
2. Оборудование IP-АТС должно быть доступно только по порту 22 и 80 TCP для IP-адресов сети
Исполнителя,- для доступа по протоколу SSH с целью осуществления технической поддержки.
3. Оборудование IP-АТС должно быть открыто для IP-адресов оператора связи по портам TCP и UDP
только выше 1023 с целью получения услуг VoIP.
Пароли пользователей IP-АТС должны держаться в секрете и должны быть не менее восьми символов,
содержать в себе комбинацию цифр и букв латинского алфавита.

#### 2.2.4. Требования к подаче номерной емкости

Провайдер связи предоставляет номерную емкость по SIP.
Требования к SIP представлены в Приложении 2.


#### 2.2.5. Требования к плану нумерации и правилам маршрутизации
План нумерации представлен в Приложении 3. (номерной план.xls)
В Таблице 1 представлен формат телефонных номеров, используемых в Системе.

Таблица 1. Формат телефонных номеров

| Формат набора номера    | Назначение             | Направление вызова | Разрешние             |
| :-----------------------|:-----------------------|:-------------------|:----------------------|
| 9ХХХХХХ                 | Выход в городскую сеть | Исходящий          | Для всех              |
| 1ХХ, 2XX, 3XXX,4XX, 5XX | Внутренние номера      | Исходящий          | Для всех              |
| 98ХХХХХХХХХ             | Межгород               | Исходящий          | Для всех кроме охраны |
| 989ХХХХХХХХ             | Сотовые номера         | Исходящий          | Для всех кроме охраны |

В таблице 2 представлены правила маршрутизации, не учтенные в номерном плане.

Таблица 2. Правила маршрутизации исходящих вызовов

| Вид вызова       | Правило                             | 
| :----------------|:------------------------------------|
| На сотовый номер | Перенаправление звонка на GSM-шлюз  |
| Межгород         | -                                   | 
| Отправка факса   | -                                   |

Таблица 3. Правила маршрутизации исходящих вызовов

* При входящих вызовах на номер, звонок направляется на дежурного менеджера отдела продаж. (Внутренний номер)
* При входящих вызовах на номер звонок направляется на старшего секретаря (вн. номер 111), через 3 звонка, если нет ответа к звонку подключается секретарь (вн. номер 112), через 3 звонка, если нет ответа на помощника генерального директора (внутр номер 110).
* При входящих вызовах на номер или 113*, факсы в формате pdf помещаются в папку «Факс» (\\netapp1\Общая\Факс)
* При входящих вызовах на номер 48-51-07 или ___, факсы в формате pdf помещаются в папку «Факсы логистика» (\\NETAPP1\Depart\pto\Факс логистика)
* При входящих вызовах на номер 48-51-22 или 179*, факсы в формате pdf помещаются в папку «Факс» (\\NETAPP1\Depart\buh\Факс)
* При входящих вызовах на номер 48-51-11 или 137*, факсы в формате pdf помещаются в папку «Факс» (\\NETAPP1\Depart\sps\Факс)
* При входящих вызовах на номер 48-51-51 или 138*, факсы в формате pdf помещаются в папку «Факс» (\\NETAPP1\Depart\sale\Факс)
* При входящих вызовах на номер 48-51-46 или 407*, факсы в формате pdf помещаются в папку «Факс» \\QNAP1\Zhbi\Факс)
* При входящих вызовах на номер 48-51-41 или 512*, факсы в формате pdf помещаются в папку «Факс» \\QNAP1\Ksm\Факс)
* При входящих вызовах на номер 48-51-33 или 315*, факсы в формате pdf помещаются в папку «Факс» (\\NETAPP1\Depart\\Факс)

* - Данные номера являются виртуальными номерами на IP-PBX Asterisk

### 2.2.6. IVR. Требования к алгоритмам распределения вызовов

Алгоритмы распределения вызовов на IVR представлены в Приложении 4.

## 2.3. Требования к гарантийному и постгарантийному обслуживанию
Подрядчик предоставляет гарантийное обслуживание не менее 3х месяцев с момента ввода в эксплуатацию.
Подрядчик может предоставить постгарантийное обслуживание.


# 3. Порядок выполнения работ

План работ представлен в Приложении 5.

6 График работ
График работ представлен в Приложении 6.


Приложение 1. Требования к оборудованию и ПО


Для реализации настоящих технических требований должно использоваться следующее оборудование и программное
обеспечение:
• программное обеспечение «Call-центр» IP-ATC Asterisk PBX.
• программное обеспечение «SoftPhone» или программный телефон
• Сервер на базе ОС FreeBSD, IP-ATC Asterisk PBX .
• Параметры компьютеров оконечных пользователей не ниже: Celeron 1,7ГГц, RAM 512 Мб, PCI Sound card, LAN, Windows
2000/XP, Microsoft
• Оборудование оконечных пользователей типа: USB гарнитуры ,USB трубки либо ip-телефоны
• Web-браузер для конечных пользователей – Internet Explorer
• Должна быть установлена кабельная сеть по категории 5E. (подтвержденная тестами)
• Расчетное количество рабочих мест в Системе – 104.
• Увеличение рабочих мест предусматривается без изменения конфигурации сервера и состава оборудования. Все новые
пользователи в Системе заводятся администратором и на них распространяются правила работы IP-АТС.
• Сервер IP-ATC Asterisk PBX рассчитана на круглосуточную работу, со всеми вызовами в системе.
• Сервер IP-ATC Asterisk PBX имеет достаточную процессорную мощность, для гарантированной обработки и записи всех
вызовов IP-АТС
• Сервер IP-ATC Asterisk PBX имеет предусмотренную аппаратную возможность установки в корпус двух полноразмерных
плат PCI, PCI-E.
• Электропитание на рабочих местах подано на сервер и рабочие станции и оборудование связи через источник
бесперебойного питания .
• Входящие аналоговые линии заземлены и защищены устройствами грозозащиты.
• Все элементы ПО IP-АТС не имеют временных ограничений по длительности работы в связи с лицензионными
соглашениями.


Если Заказчик самостоятельно приобретает элементы IP-АТС как то: ПК для рабочих мест, звуковые гарнитуры USB,
сервер, Исполнитель не несет ответственности за работоспособность этих элементы системы, и их интеграцию в комплекс.


Приложение 2. Требования к подаче номерной емкости


Таблица 1. Параметры протокола SIP

Параметр Значение
Метод передачи частотных сигналов

Метод передачи номера вызывающего абонента


ВНИМАНИЕ! Ответственность за передачу номера вызывающего абонента (CallerID) лежит на операторе связи.


Приложение 3. План нумерации


Смотреть файл: План нумерации.xls Обозвать файл Приложением 3


Приложение 4. Распределение вызовов на IVR

1. При входящих вызовах, поступающих на телефонный номер:
- В рабочие часы с 8:30 по 17:30 с понедельника по пятницу система проигрывает информационное сообщение
(предоставляется Заказчиком) «Здравствуйте! Вы позвонили в Компанию «Сибавиастрой»! Если вы знаете внутренний номер
сотрудника наберите его в тональном режиме либо дождитесь ответа»
- В выходные и праздничные дни система проигрывает информационное сообщение (предоставляется Заказчиком)
«Здравствуйте! Вы позвонили в Компанию «»! …………………….»
2. При входящих вызовах, поступающих на телефонный номер:
- В рабочие часы с 8:30 по 17:30 с понедельника по пятницу звонки распределяются согласно плана нумерации.
- В выходные и праздничные дни система проигрывает информационное сообщение (предоставляется Заказчиком)
«Здравствуйте! Вы позвонили в Компанию «»! …………………….»


Все голосовые сообщения, музыку для ожидания, номера телефонов для маршрутизации - предоставляет
Заказчик по согласованию с Исполнителем.

Приложение 5. План работ

При внедрении проекта назначены следующие ответственные.
Со стороны подрядчика -
Со стороны компании ОАО «Сибавиастрой»
Работы, которые будут реализованы в ходе проекта, определены в таблице ниже.

Таблица 2. План работ
№ п/п Описание мероприятий (работ) Оборудование, ПО
1 этап (3.06.13-14.06.13) Оборудование, ПО
2 этап
1 Установка ОС FreeBSD Сервер -
2 Установка комплекса Asterisk Сервер -
3 Настройка маршрутизации входящих вызовов Сервер -
4 Настройка организации входящих вызовов Сервер -
5 Настройка автоматического определения номера Сервер -
6 Настройка записи разговоров Сервер/9 клиентов -
7 Настройка переадресации Сервер/70 клиентов 31 клиентов
8 Настройка подробной детализации звонка Сервер/70 клиентов 31 клиентов
9 Настройка мониторинга звонков Сервер -
10 Настройка функции «Не беспокоить» 70 клиентов 31 клиентов
11 Настройка приёма и передачи факсов Сервер/8 клиентов
12 Настройка добавочных номеров Сервер/70 клиентов 31 клиентов
13 Настройка голосовой почты
• сообщения по умолчанию или собственные сообщения;
• web-интерфейс для проверки голосового ящика;
• получение уведомлений о новой почте на e-mail с возможным вложением сообщения в формате wav; Сервер/70 клиентов


31 клиентов

14 Настройка перенаправления головой почты Сервер/70 клиентов 31 клиентов
15 Настройка интерактивного голосового меню
• настройка соединения с абонентом по внутреннему номеру;
• переключение на корпоративный факс для отправки сообщений; Сервер

-
16 Настройка идентификации вызова Сервер/70 клиентов 31 клиентов
17 Настройка записи звонков Сервер/70 клиентов 31 клиентов
18 Настройка проведения конференций Сервер/70 клиентов 31 клиентов
19 Настройка персонального факс-ящика Сервер/70 клиентов 31 клиентов
20 Настройка клиентских IP-телефонов 70 клиентов 31 клиентов
22 Настройка мобильных телефонов для работы с протоколом SIP и голосовой почтой Сервер/Клиент
23 Настройка GSM-шлюзов
24 Подключение абонентского оборудования к системе IP-телефонии Сервер/Специальное оборудование/Клиент
25 Проведение тестовых включений Клиент
26 Обучение пользователей работе с IP-телефоном 70 клиентов 31 клиентов
27 Тестовая эксплуатация IP-телефонии Сервер/70 клиентов 31 клиентов
28 Ввод в промышленную эксплуатацию Сервер/70 клиентов 31 клиентов


Приложение 6. График работ
№ п/п Описание мероприятий (работ) Дата начала Дата окончания
1 Установка ОС на базе Unix
2 Установка комплекса Asterisk
3 Настройка маршрутизации входящих вызовов
4 Настройка организации входящих вызовов
5 Настройка автоматического определения номера
6 Настройка записи разговоров
7 Настройка переадресации
8 Настройка подробной детализации звонка
9 Настройка мониторинга звонков
10 Настройка функции «Не беспокоить»
11 Настройка приёма и передачи факсов
12 Настройка добавочных номеров
13 Настройка голосовой почты
• сообщения по умолчанию или собственные сообщения;
• web-интерфейс для проверки голосового ящика;
• получение уведомлений о новой почте на e-mail с возможным вложением сообщения в формате wav;
14 Настройка перенаправления головой почты
15 Настройка интерактивного голосового меню
• настройка соединения с абонентом по внутреннему номеру;
• переключение на корпоративный факс для отправки сообщений;
16 Настройка идентификации вызова
17 Настройка записи звонков
18 Настройка проведения конференций
19 Настройка персонального факс-ящика
20 Настройка клиентских IP-телефонов
22 Настройка мобильных телефонов для работы с протоколом SIP и голосовой почтой
23 Настройка GSM-шлюз
24 Подключение абонентского оборудования к системе IP-телефонии
25 Проведение тестовых включений
26 Обучение пользователей работе с IP-телефоном
27 Тестовая эксплуатация IP-телефонии
28 Ввод в промышленную эксплуатацию


Приложение 12. Спецификация оборудования и работ

IP-телефоны и оборудование
№ Наименование кол-во цена сумма
1 Телефон проводной CCC-SPA303-G2

2 Телефон проводной CCC-SPA502G
3 Модуль для телефона ССС-SPA500DS
4 Телефон проводной CCC-SPA525G2
5 VOIP телефон DKL-DPH-150S/E/F1
6 Шлюз VOIP GSM / AP GS 1002A 2 GSM канала 2 17 514 35 028
7 Шлюз VOIP / DLK-DVG 5008SG/A1A 1 13 305 13 305
8 Блок питания 50W 10 495 4950

Работы по монтажу и инсталяции Call-Центра
№ Наименование кол-во


{{/markdown}}
</div>
</div>
</div>
